@charset "utf-8";

$breakpoints: (
  'md': 'screen and (min-width: 800px)'
) !default;
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/* common */
body {
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
}
.index_section {
  position: relative;
}
.index_section_bg {
  position: relative;
}
.index_section_content {
  position: relative;
  max-width: 345px;
  padding: 0 15px;
  margin: 0 auto;
}
/* top */
.index_top {
  position: relative;
}
.index_top .index_section_bg {
  position: relative;
  width: 100%;
  padding-top: 116.8%;
  overflow: hidden;
}
.index_top_bgs, .index_top_bgs>div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.index_top_bgs>div {
  /* opacity: 0; */
}
.index_top_mask {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 29.3333%;
  background: #f00;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%222%22%20height%3D%222%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M0,1v1h2v-2z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
  background-size: 100% 100%;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  z-index: 2;
}
.index_top .index_section_content {
  position: static;
}
.index_top .index_section_content .header__logo {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: 169px;
  margin-top: -95px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/top_logo_sp.png) center top no-repeat;
  background-size: auto 100%;
  z-index: 2;
}
@media (max-width: 800px) {
  .index_top_bg_01 {
    background: url(../img/top_img_base_sp.jpg) center center/cover no-repeat;
  }
  .index_top_bg_02 {
    background: url(../img/top_img_base02_sp.jpg) center center/cover no-repeat;
  }
  .index_top_bg_03 {
    background: url(../img/top_img_base04_sp.jpg) center center/cover no-repeat;
  }
}
@media (min-width: 800px) {
  .index_top_bg_01 {
    background: url(../img/top_img_base_pc.jpg) center center/cover no-repeat;
  }
  .index_top_bg_02 {
    background: url(../img/top_img_base02_pc.jpg) center center/cover no-repeat;
  }
  .index_top_bg_03 {
    background: url(../img/top_img_base04_pc.jpg) center center/cover no-repeat;
  }
  .index_top .index_section_bg {
    min-width: 1000px;
    padding-top: 100vh;
  }
  .index_top .index_section_content .header__logo {
    height: 278px;
  }
}
/* news */
.index_news {
  margin-top: 14.6666%;
  .index_section_bg {
    width: 100%;
    overflow: hidden;
    @include mq(md) {
      height: 430px;
      padding: 20px 62px 0 135px;
      position: relative;
    }
  }
  .img_wrapper {
    padding-top: 55%;
    position: relative;
  }
  .img_news {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .index_news_bg_01 .img_news {
    background-image: url(../img/tomozaku-1200x700.jpg);
  }
  .index_news_bg_02 .img_news {
    background-image: url(../img/whitechocolatezaku_1_72-1200x700.jpg);
  }
  .index_news_bg_03 .img_news {
    background-image: url(../img/Web-news-1200x700.jpg);
  }
}
.ttl_news {
  background: url(../img/news_ttl_sp.png) center/auto 31px no-repeat;
  height: 31px;
  text-indent: -9999px;
  overflow: hidden;
  @include mq(md) {
    background-image: url(../img/news_ttl_pc.png);
    background-size: auto 48px;
    height: 48px;
  }
}
.index_news_bgs {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  @include mq(md) {
    width: 100%;
    height: 100%;
    min-width: 800px;
    max-width: 1000px;
    margin: 0 auto;
  }
}
.index_news_bg {
  padding: 0 20px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  @include mq(md) {
    height: 100%;
    padding: 0 65px 0 0;
  }
}
.index_news_bg_inner {
  @include mq(md) {
    width: 100%;
    height: 100%;
    min-width: 735px;
    max-width: 875px;
    position: relative;
    margin: 0 auto;
  }
}
.index_news_bg_main {
  padding: 10px 10px 15px;
  position: relative;
  background: #000;
  @include mq(md) {
    width: 620px;
    height: 350px;
  }
}
.index_news_bg_detail {
  background: #000;
  padding: 0 10px 15px;
  @include mq(md) {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 30px;
  }
}
.tag_news {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 2;
  background: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 13px;
  transform: skew(0, -10deg);
}
.txt_news {
  display: block;
  font-size: 14px;
  line-height: 22px;
  &.txt_desc {
    color: #fff;
    @include mq(md) {
      font-size: 16px;
      line-height: 26px;
    }
  }
  &.link_details {
    margin-top: 15px;
    color: #999;
    i {
      margin-left: .5em;
    }
    @include mq(md) {
      margin-top: 30px;
      font-weight: 700;
    }
  }
}
.container_news_arrow {
  @include mq(md) {
    width: 1000px;
    height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }
}
.arrow_news {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #00b0e2;
  opacity: .5;
  color: #fff;
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  @include mq(md) {
    width: 30px;
    height: 60px;
  }
  &.arrow_left {
    left: 0;
    @include mq(md) {
      left: 10px;
    }
  }
  &.arrow_right {
    right: 0;
    @include mq(md) {
      right: 10px;
    }
  }
}
.list_news {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  a {
    font-size: 15px;
    line-height: 24px;
    color: #000;
  }
  i {
    margin-left: 5px;
  }
}