@charset "utf-8";

/* common */
.index_section {
  position: relative;
}
.index_section_bg {
  position: relative;
}
.index_section_content {
  position: relative;
  max-width: 345px;
  padding: 0 15px;
  margin: 0 auto;
}
/* top */
.index_top {
  position: relative;
}
.index_top .index_section_bg {
  position: relative;
  width: 100%;
  padding-top: 116.8%;
  overflow: hidden;
}
.index_top_bgs, .index_top_bgs>div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.index_top_bgs>div {
  opacity: 0;
}
.index_top_mask {
  content: "";
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 29.3333%;
  background: #f00;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%222%22%20height%3D%222%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M0,1v1h2v-2z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
  background-size: 100% 100%;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  z-index: 2;
}
.index_top .index_section_content {
  position: static;
}
.index_top .index_section_content .header__logo {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: 169px;
  margin-top: -95px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/top_logo_sp.png) center top no-repeat;
  background-size: auto 100%;
  z-index: 2;
}
@media (max-width: 800px) {
  .index_top_bg_01 {
    background: url(../img/top_img_base_sp.jpg) center center/cover no-repeat;
  }
  .index_top_bg_02 {
    background: url(../img/top_img_base02_sp.jpg) center center/cover no-repeat;
  }
  .index_top_bg_03 {
    background: url(../img/top_img_base04_sp.jpg) center center/cover no-repeat;
  }
}