@charset "utf-8";

/* common */
body {
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
}
.index_section {
  position: relative;
}
.index_section_bg {
  position: relative;
}
.index_section_content {
  position: relative;
  max-width: 345px;
  padding: 0 15px;
  margin: 0 auto;
}
/* top */
.index_top {
  position: relative;
}
.index_top .index_section_bg {
  position: relative;
  width: 100%;
  padding-top: 116.8%;
  overflow: hidden;
}
.index_top_bgs, .index_top_bgs>div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.index_top_bgs>div {
  /* opacity: 0; */
}
.index_top_mask {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 29.3333%;
  background: #f00;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%222%22%20height%3D%222%22%20preserveAspectRatio%3D%22none%22%3E%3Cpath%20d%3D%22M0,1v1h2v-2z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
  background-size: 100% 100%;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  z-index: 2;
}
.index_top .index_section_content {
  position: static;
}
.index_top .index_section_content .header__logo {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: 169px;
  margin-top: -95px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/top_logo_sp.png) center top no-repeat;
  background-size: auto 100%;
  z-index: 2;
}
@media (max-width: 800px) {
  .index_top_bg_01 {
    background: url(../img/top_img_base_sp.jpg) center center/cover no-repeat;
  }
  .index_top_bg_02 {
    background: url(../img/top_img_base02_sp.jpg) center center/cover no-repeat;
  }
  .index_top_bg_03 {
    background: url(../img/top_img_base04_sp.jpg) center center/cover no-repeat;
  }
}
@media (min-width: 800px) {
  .index_top_bg_01 {
    background: url(../img/top_img_base_pc.jpg) center center/cover no-repeat;
  }
  .index_top_bg_02 {
    background: url(../img/top_img_base02_pc.jpg) center center/cover no-repeat;
  }
  .index_top_bg_03 {
    background: url(../img/top_img_base04_pc.jpg) center center/cover no-repeat;
  }
  .index_top .index_section_bg {
    min-width: 1000px;
    padding-top: 100vh;
  }
  .index_top .index_section_content .header__logo {
    height: 278px;
  }
}
/* news */
.index_news {
  margin-top: 14.6666%;
}
.ttl_news {
  background: url(../img/news_ttl_sp.png) center/auto 31px no-repeat;
  height: 31px;
  text-indent: -9999px;
  overflow: hidden;
}
.index_news .index_section_bg {
  width: 100%;
  overflow: hidden;
}
.index_news_bgs {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}
.index_news_bg {
  padding: 0 20px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.index_news_bg_inner {
  padding: 10px 10px 15px;
  position: relative;
  background: #000;
}
.tag_news {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 2;
  background: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 13px;
  transform: skew(0, -10deg);
}
.index_news .img_wrapper {
  padding-top: 55%;
  position: relative;
}
.index_news .img_news {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.index_news_bg_01 .img_news {
  background-image: url(../img/tomozaku-1200x700.jpg);
}
.index_news_bg_02 .img_news {
  background-image: url(../img/whitechocolatezaku_1_72-1200x700.jpg);
}
.index_news_bg_03 .img_news {
  background-image: url(../img/Web-news-1200x700.jpg);
}
.txt_news {
  display: block;
  font-size: 14px;
  line-height: 22px;
}
.txt_news.txt_desc {
  margin-top: 15px;
  color: #fff;
}
.txt_news.link_details {
  margin-top: 15px;
  color: #999;
}
.txt_news.txt_news.link_details i {
  margin-left: .5em;
}
.arrow_news {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #00b0e2;
  opacity: .5;
  color: #fff;
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
}
.arrow_news.arrow_left {
  left: 0;
}
.arrow_news.arrow_right {
  right: 0;
}