@charset "utf-8";

/* common */
.index_section {
  position: relative;
}
/* top */
.index_top {
  position: relative;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 116.8vw;
  animation: heroZoomOut 15s linear infinite ;
  position: relative;
}
.ttl-hero {
  width: 130px;
  height: 170px;
  background: url(../img/top_logo_sp.png) center/cover no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}