@charset "utf-8";
/* common--------------------------------- */
html {
  -webkit-text-size-adjust: 100%;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  color: #333;
  text-align: center;
  font-weight: 600;
}
ul {
  list-style: none;
}
/* share buttons */
.area-share {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
}
/* シェアボタン */
.btn-share {
  padding: 4px 12px 4px 7px;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.icon-share { margin-right: 5px; }
.btn-twitter { background-color: #1b95e0; }
.btn-twitter:hover { background-color: #0C7ABF; }
.btn-fb-iine { background-color: #1877f2; }
.btn-fb-share { background-color: #1877f2; }
/* .braces {
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  padding: 60px 0 20px;
  position: relative;
  letter-spacing: 1px;
}
.braces::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-top: #ebb94d solid 4px;
  border-left: #ebb94d solid 4px;
}
.braces::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-bottom: #ebb94d solid 4px;
  border-right: #ebb94d solid 4px;
} */
.area-braces {
  position: relative;
}
.area-braces::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-top: #ebb94d solid 4px;
  border-left: #ebb94d solid 4px;
}
.area-braces::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-bottom: #ebb94d solid 4px;
  border-right: #ebb94d solid 4px;
}
@media screen and (min-width:769px) {
  .area-braces::before {
    width: 45px;
    height: 45px;
  }
  .area-braces::after {
    width: 45px;
    height: 45px;
  }
}
span.marker {
  font-weight: 700;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}
.area-orange {
  border: #ebb94d solid 2px;
  background-color: #ffffff;
  border-radius: 5px;
}
/* box */
.box-pink {
  background-color: #da6b64;
  color: #ffffff;
}
/* link */
.link-cmn {
  text-decoration: none;
}
/* is */
.is-pc { display: none; }
@media screen and (min-width: 769px) {
  .is-pc { display: unset;}
  .is-sp { display: none;}
}
/* 汎用的スタイル */
.s-fsize14 { font-size: 14px;}
.s-fsize18 { font-size: 18px;}
.s-fwhite { color: #ffffff;}
.s-lheight40 { line-height: 40px;}
.s-align-left { text-align: left;}
/* letter-spacing */
.s-ls1 { letter-spacing: 1px;}
.s-ls1_5 { letter-spacing: 1.5px;}
.s-ls2 { letter-spacing: 2px;}
/* color */
.s-orange { color: #ebb94d; }
.s-white { color: #ffffff;}
/* nav */
.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}
.contents-nav {
  display: flex;
  height: 100%;
}
.box-logo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 78px);
  padding: 6px 0 0 10px;
}
.txt-nav-logo {
  font-size: 10px;
  line-height: 16px;
}
.box-logo img {
  width: 90px;
}
.link-nav {
  width: 78px;
  padding-top: 10px;
}
.txt-nav-link {
  font-weight: 400;
  font-size: 12px;
}
.link-nav:hover {
  text-decoration: underline;
}
.link-nav img {
  height: 25px;
}
@media screen and ( min-width: 769px) {
  .nav {
    height: 76px;
    padding: 16px 8px;
  }  
  .box-logo {
    width: calc(100% - 264px);
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
  }
  .box-logo img {
    width: 126px;
  }
  .txt-nav-logo {
    font-size: 12px;
    align-self: flex-end;
    margin: 0 0 5px 5px;
  }
  .link-nav {
    width: 264px;
    height: 42px;
    border-radius: 21px;
    letter-spacing: 0;
    padding-top: 15px;
  }
}
@media screen and (min-width:1191px) {
  .contents-nav {
    margin: 0 auto;
    width: 1170px;
  }
  .box-logo {
    width: calc(100% - 320px); 
  }
  .txt-nav-logo {
    margin: 0 0 2px 5px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
  }
  .link-nav {
    padding-top: 11px;
    width: 320px;
  }
  .txt-nav-link {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
  }
}
/* header---------------------------------------------- */
.header {
  margin-top: 60px;
}
/* header top */
.sec-header-top {
  background: url(../img/mainsp.jpg) center center / cover no-repeat;
  padding: 20px 0 36px 0;
}
.txt-header-top-01 {
  font-size: 18px;
  line-height: 29px;
}
.img-header-logo {
  width: 317px;
  margin-top: 20px;
}
.txt-header-top-02 {
  margin-top: 36px;
  font-size: 15px;
  line-height: 17px;
}
@media screen and (min-width: 769px) {
  .header {
    margin-top: 76px;
  }
  .sec-header-top { 
    background: url(../img/main.jpg) center center / cover no-repeat;
    padding: 110px 0;
  }
  .txt-header-top-01 {
    font-size: 24px;
    line-height: 38px;
  }
  .txt-header-top-01 + .txt-header-top-01 { margin-top: 10px;}
  .txt-header-top-02 {
    font-size: 16px;
    line-height: 18px;
  }
  @media screen and (min-width:1191px) {
    .txt-header-top-01 {
      font-size: 28px;
      line-height: 45px;
    }
    .txt-header-top-02 {
      font-size: 20px;
      line-height: 22px;
    }
  }
}
/* header news */
.sec-news {
  padding: 15px 20px 25px;
  background-color: #EBB94d;
  color: #ffffff;
}
.ttl-news {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2px;
}
.txt-news-asterisk {
  margin: 13px auto 0;
  padding: 0 5px;
  display: inline-block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 22px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.btn-news {
  display: block;
  margin: 30px 0 0;
  padding: 15px 0; 
  border-radius: 45px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.btn-news:hover{
  background-color: #d84940;
}
.txt-news-cmn {
  margin-top: 25px;
  font-size: 15px;
  line-height: 24px;
}
.area-share-news {
  margin-top: 30px;
}
@media screen and (min-width:769px) {
  .sec-news {
    padding: 30px 80px 40px;
  }
  .btn-news {
    margin: 12px 0 0;
    padding: 25px 0;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 1px;
  }
  .txt-news-cmn {
    font-size: 18px;
    line-height: 29px;
  }
}
@media screen and (min-width:1191px) {
  .ttl-news {
    font-size: 20px;
    line-height: 32px;
  }
  .txt-news-asterisk {
    font-size: 18px;
    line-height: 29px;
  }
  .btn-news {
    margin: 48px auto 0;
    width: 1026px;
    font-size: 28px;
    line-height: 45px;
  }
  .txt-news-cmn {
    margin-top: 65px;
    font-size: 21px;
    line-height: 34px;
    letter-spacing: 1px;
  }
  .txt-news-cmn + .txt-news-cmn {
    margin-top: 35px;
  }
}
/* page4 */
.sec-page4 {
  padding: 30px 20px 85px;
  background: url(../img/introbottom.jpg) center bottom/contain no-repeat;
}
.ttl-page4 {
  padding: 30px 0 20px;
  font-size: 18px;
  line-height: 40px;
}
.txt-page4 {
  margin-top: 30px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}
@media screen and (min-width:769px) {
  .sec-page4 {
    padding: 40px 20px 185px;
    background-size: auto;
  }
  .area-page4-title {
    margin: 0 auto;
    max-width: 860px; 
  }
  .ttl-page4 {
    font-size: 24px;
    line-height: 40px;
  }
  .txt-page4 {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (min-width:1191px) {
  .sec-page4 {
    background-size: cover;
    padding-bottom: 150px;
  }
  .ttl-page4 {
    font-size: 28px;
    line-height: 40px;
  }
  .txt-page4 {
    font-size: 20px;
    line-height: 32px;
  }
}
/* page5 */
.sec-page5 {
  background-color: #fef5e0;
  position: relative;
}
.circle-page5 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #ebb94d;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  letter-spacing: 1.5px;
  transform: translate(-50%, -50%);
}
.contents-page5 {
  padding: 60px 18px 70px;
}
.ttl-page5-2 {
  margin: 0 auto;
  max-width: 860px;
  padding: 35px 0 30px;
  font-size: 18px;
  line-height: 40px;
}
.txt-page5 {
  margin-top: 10px;
  font-size: 15px;
  line-height: 24px;
}
.area-page5 {
  margin: 30px 0 0;
  padding: 10px 10px 25px;
}
.ttl-page5-3 {
  font-size: 15px;
  line-height: 24px;
}
.list-page5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.list-page5-item {
  width: 110px;
  margin-top: 16px;
}
[class^="img-page5-item-"] { height: 30px;}
.txt-page5-item {
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  margin-top: 8px;
}
@media screen and (min-width:769px) {
  .contents-page5 {
    padding-top: 80px;
  }
  .circle-page5 {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
  }
  .ttl-page5-2 {
    font-size: 24px;
  }
  .txt-page5 {
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;
  }
  .area-page5 {
    padding: 30px 0 50px;
  }
  .ttl-page5-3 {
    font-size: 16px;
  }
  .list-page5-item {
    width: 135px;
  }
  .img-page5-item-1 { height: 57px; }
  .img-page5-item-2 { height: 70px; }
  .img-page5-item-3 { height: 59px; }
  .img-page5-item-4 { height: 53px; }
  .img-page5-item-5 { height: 50px; }
  .txt-page5-item {
    font-size: 12px;
    line-height: 19px;
  }
}
@media screen and (min-width:1191px) {
  .ttl-page5-2 {
    font-size: 28px;
    line-height: 40px;
  }
  .txt-page5 {
    font-size: 20px;
    line-height: 32px;
  }
}
/* page6 */
.contents-page6 {
  padding: 50px 30px 45px;
  background: url(../img/aboutsecondbgsp.jpg) center center/cover no-repeat;
}
.ttl-page6-2 {
  font-size: 18px;
  line-height: 20px;
}
.txt-page6 {
  margin-top: 10px;
  font-size: 13px;
  line-height: 21px;
}
.txt-page6:first-of-type { margin-top: 20px;}
.list-page6-step {
  margin-top: 30px;
}
.area-page6-step {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 14px 45px;
}
.area-page6-step+.area-page6-step { margin-top: 15px;}
.ttl-page6-step {
  background-color: #ebb94d;
  border-radius: 5px;
  font-size: 12px;
  line-height: 19px;
}
.txt-page6-step {
  font-size: 12px;
  line-height: 19px;
}
.txt-page6-step:nth-of-type(2) {
  margin-top: 15px;
}
.txt-page6-step:nth-of-type(3) {
  margin-top: 5px;
}
.footer-page6 {
  padding: 20px 0;
  background-color: #016ea9;
}
.txt-page6-footer {
  font-size: 12px;
  line-height: 19px;
}
@media screen and (min-width:769px) {
  .contents-page6 {
    padding: 60px 0;
    background: url(../img/aboutsecondbg.jpg) center center/cover no-repeat;
  }
  .ttl-page6-2 {
    font-size: 24px;
    line-height: 30px;
  }
  .txt-page6 {
    font-size: 16px;
    line-height: 26px;
  }
  .list-page6-step {
    margin: 30px 30% 0;
  }
  .area-page6-step {
    padding: 32px;
  }
  .area-page6-step+.area-page6-step { margin-top: 20px;}
  .ttl-page6-step {
    font-size: 14px;
    line-height: 22px;
  }
  .txt-page6-step {
    color: #000000;
  }
  .txt-page6-step:nth-of-type(2) {
    margin-top: 30px;
  }
  .txt-page6-step:nth-of-type(3) {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .footer-page6 {
    padding: 40px 0;
  }
  .txt-page6-footer {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (min-width:1191px) {
  .contents-page6 {
    padding-bottom: 40px;
  }
  .ttl-page6-2 {
    font-size: 28px;
    line-height: 40px;
  }
  .txt-page6 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
  }
  .list-page6-step {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .area-page6-step {
    width: 375px;
  }
  .area-page6-step+.area-page6-step {
    margin: 0 0 0 20px;
  }
  .ttl-page6-step {
    font-size: 16px;
    line-height: 26px;
  }
  .txt-page6-step:nth-of-type(2) {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
  }
  .txt-page6-step:nth-of-type(3) {
    font-size: 16px;
    line-height: 26px;
  }
  .txt-page6-footer {
    font-size: 20px;
    line-height: 32px;
  }
}
/* page7 */
.sec-page7 {
  padding: 50px 60px 34px;
}
.ttl-page7-02 {
  font-size: 18px; 
}
.txt-page7-small {
  font-size: 12px;
}
.txt-page7-01 {
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  margin-top: 45px;
}
.grid-page7-skills {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.grid-page7-skills .col {
  width: calc((100% - 30px)* 0.25);
  max-width: 120px;
  height: calc((100% - 30px)* 0.25);
  max-height: 120px;
}
.img-page7-skill {
  width: 100%;
}
.txt-page7-02 {
  font-size: 12px;
  line-height: 19px;
  margin-top: 24px;
}
@media screen and (min-width:769px) {
  .sec-page7 {
    padding: 65px 25px 50px;
  }
  .ttl-page7-02 {
    font-size: 24px;
    line-height: 40px;
  }
  .txt-page7-small {
    font-size: 14px;
    line-height: 40px;
  }
  .txt-page7-01 {
    margin-top: 35px;
    font-size: 16px;
    line-height: 26px;
  }
  .grid-page7-skills {
    margin: 65px auto 0;
    max-width: 850px;
  }
  .grid-page7-skills .col {
    width: calc((100% - 120px)* 0.25);
    max-width: 180px;
    height: calc((100% - 120px)* 0.25);
    max-height: 180px;
  }
  .txt-page7-02 {
    margin-top: 60px;
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width:1191px) {
  .ttl-page7-02 {
    font-size: 28px;
    line-height: 40px;
  }
  .txt-page7-small {
    font-size: 16px;
    line-height: 40px;
  }
  .txt-page7-01 {
    font-size: 20px;
    line-height: 32px;
  }
  .grid-page7-skills {
    margin-top: 45px;
  }
  .txt-page7-02 {
    margin-top: 45px;
    font-size: 16px;
    line-height: 26px;
  }
}
/* page8 */
.sec-page8 {
  padding: 30px 10px 45px;
  background-color: #fef5e0;
}
.box-page8-braces {
  padding: 25px 0 15px;
  max-width: 860px;
}
.txt-page8-braces {
  font-size: 15px;
  line-height: 21px;
}
.ttl-page8-02 {
  margin-top: 15px;
  font-size: 18px;
  line-height: 40px;
}
.grid-page8-merit {
  margin-top: 20px;
}
[class^="img-page8-merit-"] {
  height: 120px;
}
.img-page8-merit-01 { background: url(../img/learnfromfreelancer.jpg) center center/cover no-repeat;}
.img-page8-merit-02 { background: url(../img/learnfromprojects.jpg) center center/cover no-repeat;}
.img-page8-merit-03 { background: url(../img/actuallyfree.jpg) center center/cover no-repeat;}
.ttl-page8-03 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.txt-page8-merit {
  margin: 10px 24px 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1.5px;
}
.grid-page8-merit .col+.col {
  margin-top: 20px;
}
.sec-page8-support {
  margin: 35px 5px 0;
  padding: 10px 10px 20px;
}
.ttl-page8-03-02 {
  font-size: 18px;
  line-height: 29px;
}
.txt-page8-support {
  margin-top: 10px;
  font-size: 15px;
  line-height: 24px;
}
.txt-page8-support-small {
  margin-top: 10px;
  font-size: 10px;
  line-height: 16px;
}
.txt-page8-note {
  margin-top: 16px;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}
@media screen and (min-width:769px) {
  .sec-page8 {
    padding: 30px 50px 50px;
  }
  .box-page8-braces {
    margin: 0 auto 0;
  }
  .txt-page8-braces {
    font-size: 16px;
    line-height: 40px;
  }
  .ttl-page8-02 {
    margin-top: 0;
    font-size: 24px;
    line-height: 40px;
  }
  .grid-page8-merit {
    margin-top: 35px;
  }
  [class^="img-page8-merit-"] {
    margin: 0 auto;
    background-size: auto;;
    height: 180px;
  }
  .ttl-page8-03 {
    font-size: 16px;
    line-height: 26px;
  }
  .txt-page8-merit {
    margin: 10px 35px 0;
    font-size: 14px;
    line-height: 22px;
  }
  .sec-page8-support {
    margin: 60px 10px 0;
    padding: 40px 40px 50px;
  }
  .ttl-page8-03-02 {
    font-size: 24px;
    line-height: 38px;
  }
  .txt-page8-support {
    font-size: 16px;
    line-height: 26px;
  }
  .txt-page8-support-small {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
  }
  .txt-page8-note {
    margin-top: 40px;
  }
}
@media screen and (min-width:992px) {
  .grid-page8-merit {
    display: flex;
    justify-content: space-between;
  }
  .grid-page8-merit .col {
    width: calc(100% / 3);
  }
  .grid-page8-merit .col+.col {
    margin-top: 0;
  }
  [class^="img-page8-merit-"] {
    margin: 0;
  }
}
@media screen and (min-width:1191px) {
  .sec-page8 {
    padding: 40px 35px 50px;
  }
  .txt-page8-braces {
    font-size: 20px;
    line-height: 40px;
  }
  .ttl-page8-02 {
    font-size: 28px;
    line-height: 40px;
  }
  .grid-page8-merit {
    margin: 40px auto 0;
    width: 1140px;
  }
  .grid-page8-merit .col {
    width: 360px;
  }
  [class^="img-page8-merit-"] {
    width: 100%;
    background-size: cover;
  }
  .ttl-page8-03 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
  }
  .txt-page8-merit {
    font-size: 16px;
    line-height: 26px;
    margin-left: 0;
    margin-right: 10px;
  }
  .ttl-page8-03-02 {
    font-size: 28px;
    line-height: 45px;
  }
  .sec-page8-support {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .txt-page8-support {
    font-size: 20px;
    line-height: 32px;
  }
  .txt-page8-support-small {
    font-size: 16px;
    line-height: 26px;
  }
  .txt-page8-note {
    font-size: 14px;
    line-height: 22px;
  }
}
/* page9 */
.sec-page9 {
  padding: 70px 10px 20px;
  background: url(../img/teacherbgsp.jpg) center/cover no-repeat;
  color: #ffffff;
}
.ttl-page9-02 {
  font-size: 18px;
}
.txt-page9-title {
  font-size: 12px;
  line-height: 19px;
  margin-top: 40px;
}
.grid-page9 {
  margin-top: 130px;
}
.grid-page9 .col {
  border: #ffffff solid 3px;
  padding: 46px 10px 26px;
  position: relative;
}
.grid-page9 .col+.col {
  margin-top: 120px;
}
.img-page9-item {
  width: 120px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
}
.txt-page9-item {
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}
.txt-page9-item+.txt-page9-item {
  margin-top: 10px;
}
@media screen and (min-width:769px) {
  .sec-page9 {
    padding: 90px 50px 50px;
    background: url(../img/teacherbg.jpg) center/cover no-repeat;
  }
  .ttl-page9-02 {
    font-size: 24px;
    line-height: 40px;
  }
  .txt-page9-title {
    font-size: 14px;
    line-height: 22px;
  }
  .grid-page9 {
    margin-top: 210px;
  }
  .grid-page9 .col {
    padding: 40px 38px 55px;
  }
  .grid-page9 .col+.col {
    margin-top: 198px;
  }
  .img-page9-item {
    width: 200px;
    transform: translate(-50%, -83%);
  }
  .txt-page9-item {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width:992px) {
  .grid-page9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grid-page9 .col {
    width: 375px;
  }
  .grid-page9 .col+.col {
    margin-top: 0;
  }
  .grid-page9 .col:nth-of-type(n+3) {
    margin-top: 198px;
  }
  .grid-page9 .col:nth-of-type(even) {
    margin-left: 30px;
  }
}
@media screen and (min-width:1191px) {
  .sec-page9 {
    padding: 80px 0 40px;
  }
  .ttl-page9-02 {
    font-size: 28px;
    line-height: 40px;
  }
  .grid-page9 {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
  .txt-page9-title {
    font-size: 16px;
    line-height: 26px;
  }
  .txt-page9-item {
    font-size: 16px;
    line-height: 26px;
  }
}
/* page10 */
.box-page10-qa {
  padding: 20px 18px;
  background-color: #ebb94d;
  position: relative;
}
.txt-page10-qa {
  background-color: #ffffff;
  border-radius: 50%;
  color: #ebb94d;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  width: 60px;
  margin: 0 auto;
}
.box-page10-braces {
  padding: 10px 0;
}
.ttl-page10-02 {
  font-size: 14px;
  line-height: 40px;
}
.box-page10-braces::before { border-color: #ffffff; }
.box-page10-braces::after { border-color: #ffffff; }
.triangle-page10 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid #ebb94d;
  transform: translate(-50%, 50%) rotate(45deg);
}
.contents-page10 {
  padding: 20px 10px 40px;
}
.txt-page10-contents:nth-of-type(1) {
  font-size: 18px;
  line-height: 29px;
}
.txt-page10-contents:nth-of-type(2) {
  margin-top: 10px;
  font-size: 12px;
  line-height: 19px;
}
.txt-page10-contents:nth-of-type(3) {
  margin-top: 30px;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}
.list-page10 {
  margin-top: 30px;
}
.list-page10 .item {
  display: flex;
}
.img-page10-item {
  width: 31.5%;
  border: 3px solid #ebb94d;
}
.contents-page10-item {
  margin-left: 15px;
}
.txt-page10-item {
  color: #777777;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.5px;
}
.txt-page10-item:nth-of-type(1) {
  margin-top: -5px;
  font-size: 18px;
  line-height: 29px;
}
.txt-page10-item:nth-of-type(2) {
  margin-top: 10px;
  font-size: 15px;
  line-height: 24px;
  text-decoration-line: underline;
}
.list-page10 .item+.item {
  margin-top: 40px;
}
@media screen and (min-width:769px) {
  .box-page10-qa {
    padding: 40px 20px;
  }
  .txt-page10-qa {
    width: 80px;
    height: 80px;
    font-size: 20px;
    line-height: 80px;
  }
  .box-page10-braces {
    font-size: 18px;
    line-height: 40px;
  }
  .triangle-page10 {
    border-width: 18px;
  }
  .contents-page10 {
    padding: 40px 20px 60px;
  }
  .txt-page10-contents:nth-of-type(1) {
    font-size: 24px;
    line-height: 38px;
  }
  .txt-page10-contents:nth-of-type(2) {
    font-size: 14px;
    line-height: 22px;
  }
  .txt-page10-contents:nth-of-type(3) {
    font-size: 12px;
    line-height: 19px;
  }
  .contents-page10-item {
    margin-top: 18px;
    margin-left: 30px;
  }
}
@media screen and (min-width:992px) {
  .box-page10-braces {
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
  }
  .contents-page10 {
    padding-left: 0;
    padding-right: 0;
  }
  .img-page10-item {
    width: 22%;
  }
  .contents-page10-item {
    width: 43%;
  }
}
@media screen and (min-width:1191px) {
  .txt-page10-qa {
    font-size: 14px;
    line-height: 80px;
  }
  .ttl-page10-02 {
    font-size: 28px;
    line-height: 40px;
  }
  .txt-page10-contents:nth-of-type(1) {
    font-size: 28px;
    line-height: 45px;
  }
  .txt-page10-contents:nth-of-type(2) {
    font-size: 16px;
    line-height: 26px;
  }
  .txt-page10-contents:nth-of-type(3) {
    font-size: 14px;
    line-height: 22px;
  }
  .list-page10 {
    margin-left: auto;
    margin-right: auto;
    width: 765px;
  }
  .img-page10-item {
    width: 245px;
  }
  .contents-page10-item {
    width: auto;
  }
}
/* page11 */
.contents-page11-main {
  padding: 40px 10px;
  background: url(../img/classbgsp.jpg) center/cover no-repeat;
}
.ttl-page11-02 {
  font-size: 18px;
  line-height: 40px;
}
.txt-page11-02 {
  font-size: 12px;
  line-height: 19px;
}