@charset "utf-8";

div {
  border: solid 2px;
  position: relative;
}
.label {
  position: absolute;
  top: 0px;
  right: 0px;
  writing-mode: vertical-rl;
  white-space: pre;
}
.label-middle > .label {
  top: 50%;
  transform: translatey(-50%);
}
.label-bottom > .label {
  top: auto;
  bottom: 2px;
}
div.x { border-color: transparent; } 
.red { border-color: red; }
.grey { border-color: grey; }
.purple { border-color: purple; }
.green { border-color: green; }
.orange { border-color: orange; }
.blue { border-color: blue; }
.xl > .label {
  visibility: hidden;
}
.red > .label {
  background-color: red;
  color: white;
}
.grey > .label {
  background-color: grey;
}
.purple > .label {
  background-color: purple;
  color: white;
}
.green > .label {
  background-color: green;
  color: white;
}
.orange > .label {
  background-color: orange;
}
.blue > .label {
  background-color: blue;
  color: white;
}
.tooltip {
  background-color: #fff3d4;
}